<header>
  <nav>
    <a href="/">Home</a>
    <% if (session && session.userId) { %>
    <a href="/items">My Items</a>
    <a href="/transfer-requests">Transfer Requests</a>
    <% if (session.admin) { %>
    <a href="/admin/items">Admin: All Items</a>
    <% } %>
    <a href="/logout">Logout</a>
    <a href="/dashboard">Dashboard</a>
    <% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <% } %>
  </nav>
</header>
